<!-- Template form -->
<!-- <form class="form" (ngSubmit)='onSubmitTemplate()'> -->
<!-- Use brackets and parenthesis for 2-way data modeling -->
<!-- <input type="text" name="title" [(ngModel)]="title" placeholder="Add Todo...">
    <input type="submit" value="Submit" class="btn">
</form> -->


<!-- Reactive Form -->
<form class="form" [formGroup]="newTodoForm" (ngSubmit)='onSubmitReactive()'>
    <!-- Use brackets and parenthesis for 2-way data modeling -->
    <input type="text" formControlName="titleReactive" placeholder="Add Todo...">
    <input type="submit" value="Submit" class="btn">
</form>